PYTHON_VERSION=3.11
JWT_SECRET=supersecretjwtkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=bookstore.events

AUTH_DB_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/auth_db
CATALOG_DB_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/catalog_db
ORDER_DB_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/order_db
ANALYTICS_DB_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/analytics_db


